<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='../static/CSS/chatbot.css'>
    <title>Non-Software</title>
</head>
<body>
<div class='popup-container'>

    
       
      
      
      
            
              <h1>Existing projects and communities</h1>
            
      
      
      <p>If you’re contributing to or extending an existing project, it’s almost always easiest to continue using that project’s license. To find its license, look for a file called <code class='language-plaintext highlighter-rouge'>LICENSE</code> or <code class='language-plaintext highlighter-rouge'>COPYING</code>, and skim the project’s <code class='language-plaintext highlighter-rouge'>README</code>. </p>
      
      <p>Depending on the original project’s license, using the same license might be a requirement, not just the easiest thing to do. </p>
      
      <p>Some communities have strong preferences for particular licenses. If you want to participate in one of these, it will be easier to use their preferred license, even if you’re starting a brand new project with no existing dependencies. Some examples include:</p>
      
      <ul class='bullets'>
        <li><span class='highlighted'>Apache</span> requires <span class='highlighted'>Apache License 2.0</span></li>
        <li><span class='highlighted'>Cloud Native Computing Foundation</span> requires <span class='highlighted'>Apache License 2.0</span></li>
        <li><span class='highlighted'>GNU</span> recommends <span class='highlighted'>GNU GPLv3</span> for most programs</li>
        <li><span class=''highlighted>npm packages</span> overwhelmingly use the <span class='highlighted'>MIT</span> or the very similar <span class='highlighted'>ISC</span> licenses</li>
        <li><span class='highlighted'>OpenBSD</span> prefers the <span class='highlighted'>ISC License</span></li>
        <li><span class='highlighted'>Rust</span> crates are overwhelmingly licensed <span class='highlighted'>MIT</span> <span class='highlighted'><code class='language-plaintext highlighter-rouge'>OR</code></span> <span class='highlighted'>Apache License 2.0</span></li>
        <li><span class='highlighted'>WordPress</span> plugins and themes must be <span class='highlighted'>GNU GPLv2</span> (or later)</li>
        <li><span class='highlighted'>Joomla</span> extensions and templates must be <span class='highlighted'>GNU GPLv2</span> for the PHP code.</li>
      </ul>
      
      <p>Communities come in all shapes and sizes, and more than one community might be pertinent (e.g., keep in mind <span class='highlighted'>your company</span> if you work for one). The examples above are <em>very</em> well established. If the community you’re building a project for doesn’t have set-in-stone licensing traditions, or you don’t see your project as part of any particular community, that’s fine: <span class='highlighted'>make your own choice of an open source license</span>.</p>
      
          

</div>
</body>
</html>