<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='../static/CSS/chatbot.css'>
    <title>Non-Software</title>
</head>
<body>
    <div class='popup-container'>

        
        <h1>Non-Software Licenses</h1>
          <p>Open source software licenses can be also used for non-software works and are often the best choice, especially when the works in question can be edited and versioned as source. <span class='highlighted'>Choose an open source license</span>.</p>
          
          <h3 id='data-media-etc'>Data, media, etc.</h3>
          
          <p><span class='highlighted'>CC0-1.0</span>, <span class='highlighted'>CC-BY-4.0</span>, and <span class='highlighted'>CC-BY-SA-4.0</span> are <span class='highlighted'>open</span> licenses used for non-software material ranging from datasets to videos. Note that Creative Commons does <span class='highlighted'>not recommend its licenses be used for software</span> or hardware.</p>
          
          <h3 id='documentation'>Documentation</h3>
          
          <p>Any open source software license or open license for media (see <span class='highlighted'>above</span>) also applies to software documentation. If you use different licenses for your software and its documentation, be sure to specify that source code examples in the documentation are also licensed under the software license.</p>
          
          <h3 id='fonts'>Fonts</h3>
          
          <p>The <span class='highlighted'>SIL Open Font License 1.1</span> keeps fonts open, allowing them to be freely used in other works.</p>
          
          <h3 id='hardware'>Hardware</h3>
          
          <p>Designs for <span class='highlighted'>open source hardware</span> ranging from furniture to <span class='highlighted'>FPGAs</span> are covered by CERN Open Hardware licenses: <span class='highlighted'>CERN-OHL-P-2.0</span> (permissive), <span class='highlighted'>CERN-OHL-W-2.0</span> (weakly reciprocal), and <span class='highlighted'>CERN-OHL-S-2.0</span> (strongly reciprocal).</p>
          
          <h3 id='mixed-projects'>Mixed projects</h3>
          
          <p>If your project contains a mix of different types of material, you can include multiple licenses, as long as you are explicit about which license applies to each part of the project.</p>
          
          
        </div>
</body>
</html>

